@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

<div class="control-container">
    <SfAppBar ColorMode="AppBarColor.Inherit"
              CssClass="custom-appbar">
        <SfButton CssClass="e-inherit" @onclick="OnMainButtonPressed" Content="Головна"></SfButton>
        <SfButton CssClass="e-inherit" @onclick="OnServicesButtonPressed" Content="Послуги"></SfButton>
    </SfAppBar>
    <div class="appbar-line"></div>
</div>

<style>    
    .e-appbar.e-inherit {
        border: none;
    }
    .e-appbar {
        box-shadow: unset;
    }
    
    .e-btn.e-inherit {
        font-size: 48px;
        font-family: 'Exo_2', sans-serif;
        font-weight: normal;
        box-shadow: unset;
    }

    .custom-appbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 24px;
        margin-bottom: 24px;
    }
</style>