@page "/"
@using LightsOn.WebApp.Views.Components.InfoSection
@using LightsOn.WebApp.Views.Components.WorkingHoursMap
@using LightsOn.WebApp.Views.Components.CardContainer
@using LightsOn.WebApp.Views.Components.CallButtonContainer

<PageTitle>Головна</PageTitle>

<div class="main-container">
    <InfoSection></InfoSection>
    <CardContainer></CardContainer>
    <WorkingHoursMap></WorkingHoursMap>
    <CallButtonContainer></CallButtonContainer>
</div>

<style>
    body{
        background-color: #ffffff;
    }
    .dotted_lines{
        width: 1053px;
        height: 1030px;
    }
</style>

<script>
  function scrollToElement(id) {
    var element = document.getElementById(id);
    if (element) {
      element.scrollIntoView({ behavior: 'smooth' });
    }
  }
</script>