@page "/Services"
@using LightsOn.WebApp.Views.Components.Service
@using LightsOn.WebApp.Views.Components.CallButtonContainer

<div class="service">
    <Service></Service>
    <CallButtonContainer></CallButtonContainer>
</div>

