@page "/Services"
@using Syncfusion.Blazor.Buttons
@using LightsOn.BlazorApp.Views.Components.CallButtonContainer
@using LightsOn.BlazorApp.Views.Components.Service

<div class="service">
    <Service></Service>
    <CallButtonContainer></CallButtonContainer>
</div>

