@inherits LayoutComponentBase
@using LightsOn.WebApp.Views.Bases

<div class="grid-container">
    <div class="app-bar-container">
        <AppBarBase/>
    </div>

    <div class="content-container">
        @Body
    </div>
</div>