@inherits LayoutComponentBase

<div class="grid-container">
    <div class="app-bar-container">
        <AppBarBase/>
    </div>

    @* <div class="sidebar-container"> *@
    @*     <SidebarBase></SidebarBase> *@
    @* </div> *@

    <div class="content-container">
        @Body
    </div>
</div>